html, body {
  min-height: 100vh;
}

body {
  background-color: #98c4c2;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: space-between;
}
.card-header{
  background: linear-gradient(to right, rgb(25, 119, 159), rgb(15, 115, 131));
  color: rgb(237, 237, 237)
}
.btnn{
  background-color: rgb(19, 109, 112);
  border-radius: 10px;
  padding: 8px 15px;
  border: none;
  font-size: 14px;
  color: white;
  
}
.btnn:hover{
    transform: scale(1.06);
    transition: .3s;
}
.task-input{
  border: none;
  width: 50%;
  border-bottom: 1px solid rgb(14, 183, 130);
}

.card-body{
  background-color: rgb(255, 255, 255);
}






.aside {
  height: 400px;
}
.main {
  height: 400px;
}
.d-flex {
  display: flex;
}
.task-title {
  font-weight: 400;
  padding-top: 5px;
  word-break: break-all !important;
}
.gray {
  color: #BDBDBD;
}
.task-title--done {
  text-decoration: line-through;
  color: #CDCDCD;
}
.task-item__buttons {
  display: flex;
  column-gap: 5px;
}
.notify-holder {
  height: 60px;
  margin-bottom: 20px;
}
.empty-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.empty-list__title {
  font-size: 28px;
  margin-bottom: 15px;
  font-weight: 300;
}
.empty-list__icon {
  color: #42BE2A;
  font-size: 32px;
}
.btn-action {
    background-color: #e0e5ea;
    padding: 8px 10px;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    transition: opacity 0.2s ease-in;
    opacity: 0.5;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-action:hover {
    background-color: #cdcdcd;
    opacity: 1;
}

.btn-action img {
  pointer-events: none;
}

.none {
  display: none !important;
}

.float-right {
  float: right;
}
.copyright {
  margin-top: 40px;
  font-size: 14px;
  color: gray;
  text-align: center;
  margin-bottom: 30px;
  /* position: absolute; */
  /* bottom: 30px; */
  /* left: 0; */
  /* right: 0; */
}